body {
  width: 100%;
  background-image: url("../images/space.jpg");
  background-size: contain;
  overflow: hidden;
}

#title {
  margin: auto;
  text-align: center;
  text-shadow: -1px -1px 0 #efda17, 1px -1px 0 #efda17, -1px 1px 0 #efda17,
    1px 1px 0 #efda17;
}
