body {
  background-color: #c8c8c8;
  font: 1.2em "Ubuntu", sans-serif;
}



h1 {
  text-align: center;
}

table,
td,
th {
  border: 1px solid #333;
}

.figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 0.3125em;
  max-width: 13.75em;
  margin: auto;
}

img {
  max-width: 13.75em;
  max-height: 9.375em;
}

.figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

article {
  position: relative;
  left: 10%;
  width: 80%;
}

h3 {
  color: grey;
}

pre {
  font-size: 0.8em;
}

blockquote {
  font-style: italic;
}
